body {
    font-family: Arial, sans-serif;
    min-height: 100vh ;
    background-color: rgb(243, 244, 232);
  }
  
  
  
  #weatherResults {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: rgb(157, 200, 246);
    border:3px solid green;
   
  }
  
  .navbar{
     box-shadow: 8px 6px 4px rgb(76, 6, 182);
     border-radius: 5%;
    
  }

  .btn{
    background-color: rgb(10, 18, 175);
    
  }
main {
    padding: 10px;
    min-height: 100vh !important; 
}
  

  h5{
    text-align: center;
   
    font-size: larger;

    font-family: Arial, Helvetica, sans-serif;
    
    
  }

  h1{
    text-align: center;
   
    font-size: larger;

    font-family:cursive ;

    font-size: 30px;
    color: rgb(11, 11, 116);
  }


 
  


